// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@font-face {
    font-family: "e-Ukraine";
    src: local("e-Ukraine"),
     url(~assets/e-Ukraine/e-Ukraine-Regular.woff2) format("woff2");
}

$family-primary: "e-Ukraine";

//Card
$card-radius: 0.45rem;


// Set your colors
$primary: #94C7A6;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        )
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$body-background-color: #F2F2F2;

$dropdown-item-active-background-color: #EFFAF3;
$skeleton-background: #EFFAF3;
$pagination-current-background-color: #EFFAF3;
$input-hover-border-color:#EFFAF3;
$input-focus-border-color: transparent;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";